APP_NAME="Betsassured"
APP_ENV=development
APP_DEBUG=false
APP_URL=https://www.betsassured.com
APP_TIMEZONE=Africa/Nairobi
PARTNER_ACCESS_TOKEN=q2LsJ9FmT6XvRaCbHuYdK8ZwN4
ACCESS_TOKEN=UJlhuDILIR1Lc2IEwZDIKOln9d
JACKPOT_API_KEY=jp_shared_8KxQm2NvR9pLwT4yHcF6uA1eZbD3sG7j
